  /*---CSS FILE---*/
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      background-color: #f44336;
  }
  
  .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .title {
      color: #fff;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 50px;
      font-size: 38px;
      font-family: sans-serif;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  }
  
  .form-group {
      background-color: #fff;
      display: flex;
      width: 800px;
      height: 50px;
      padding: 10px;
      border-radius: 30px;
      box-shadow: 0px 2px 4px 0px rgba(12, 18, 18, 0.4);
  }
  
  .dropdown {
      position: relative;
      width: 150px;
      padding-left: 5px;
      color: #3a3a3a;
      border-right: 2px solid #f57168;
      cursor: pointer;
  }
  
  .default-option {
      padding: 8px 30px;
  }
  
  .dropdown-list ul {
      list-style: none;
      background-color: #fff;
      color: #696969;
      position: absolute;
      top: 50px;
      left: 0px;
      width: 150px;
      border-radius: 5px;
      display: none;
  }
  
  .dropdown-list ul .active {
      display: block;
  }
  
  .dropdown-list ul li {
      padding: 10px 10px 10px 20px;
  }
  
  .dropdown-list ul li i {
      margin-right: 5px;
  }
  
  .dropdown::before {
      content: "";
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #1d1d1d transparent;
      position: absolute;
      right: 20px;
      top: 50%;
  }
  
  .dropdown-list ul li::before {
      content: "";
      border-width: 0px 8px 8px 8px;
      border-style: solid;
      border-color: #fff transparent;
      position: absolute;
      bottom: 100%;
      right: 20px;
  }
  
  .dropdown-list ul li:hover {
      background-color: #fff;
      color: #f44336;
      font-weight: bold;
      border-radius: 5px;
  }
  
  .search {
      width: 600px;
      height: 100%;
  }
  
  .search-input {
      width: 100%;
      color: #3a3a3a;
      height: 100%;
      border: 0;
      padding: 10px;
      color: #3a3a3a;
  }
  
  .btn {
      background-color: #fff;
      width: 50px;
      height: 100%;
      border: 0;
      cursor: pointer
  }
  
  .btn.fa-search {
      font-size: 22px;
      color: #f57168;
  }
  
  .btn.fa-search:hover {
      font-size: 24px;
      color: #e01f10;
  }
  
  input,
  button:focus {
      outline: none;
  }