body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 0;
}

.aboutimg {
    height: 350px;
    width: 480px;
    padding-top: 2.5cm;
    padding-right: 40px;
}

.aboutpara {
    color: rgb(255, 255, 255);

}

.aboutp {
    text-align: left;
    padding-left: 10px;
    color: #ffffff;
    
}


/* Navigation-Bar */

nav {
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: black;
}

nav ul {
    float: right;
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

.navbar {
    padding: 0 0 0em;
    font-size: x-large;
    background-color: black;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item::after {
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-link {
    font-size: 1.5rem;
    /* font-weight: bold; */
    color: rgb(27, 21, 21);
    position: relative;
}

.nav-link ::after {
    content: '';
    width: 100px;
    height: 9px;
    background: #ff4c68;
    bottom: -10px;
}

nav li a {
    font-size: 10px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #11bbe5;
    text-decoration: none;
}


/* Main Title */

.row {
    padding-bottom: 4em;
}

#title h1 {
    font-size: 3rem;
    line-height: 1.5;
    color: rgb(28, 26, 26);
}

#title .container-fluid1 {
    /* padding: 2% 10%; */
    /* padding-bottom: 100px; */
    background-color: #b3e3de;
    background-size: cover;
    text-align: left;
}

.about {
    padding-top: 30%;
}

.img-wrapper img {
    border-radius: 10px;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17); */
    /* floats: left; */
}

.collectionsnew {
    padding: 10ch;
}


/* Features */

#features {
    padding: 4ch;
    background-color: rgb(50, 50, 53);
    position: relative;
    line-height: 1.5;
    margin-bottom: -20px;
    /* margin-top: 1cm; */
    height: 13cm;
}


/* .ft{
   padding: 0 2%;
    margin: 4% 0;
} */

.collections-img {
    background-color: #FFFAF6;
}

#features h3 {
    font-size: 1.5rem;
    padding-top: 40px;
    font-weight: bold;
}

#features p {
    color: #8f8f8f;
    margin-top: 20px;
}

#features i {
    color: #ef8172;
    size: 40%;
}

#features i:hover {
    color: #ff4c68;
    transition: 0.1s;
    transform: scale(1.1);
    transform: translateY(-3px);
}


/* Pricing */

.pricing-col {
    padding: 0% 2%;
    color: #000000;
    text-align: center;
}

.collections {
    text-align: center;
}

.collections-img {
    width: 90%;
    height: 90%;
    margin: 2%;
}


/* CTA */

#cta {
    text-align: center;
    background-color: #FFFAF6;
    margin-bottom: 0px;
}

#cta h3 {
    font-size: 2.5rem;
}

#footer {
    text-align: center;
    /* padding: 5% 10%; */
    background-color: #fff;
    font-size: small;
    margin-top: -50px;
}

#footer i {
    padding: 10px;
}

.pricing-col col-lg-4 col-md-6 img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


/* .layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(white, #6EABAB);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-weight: 14px;
    transition: height 0.5s;
} */


/* .layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
} */

.pricing-col col-lg-4 col-md-6:hover img {
    transform: scale(1.1);
}

pricing-col col-lg-4 col-md-6:hover .layer {
    height: 100%;
}


/* Mobile Media queries

@media(max-width:995px){
#title{
text-align: center;
}
.phoneImg{
    position: static;
    transform: rotate(0);
    width: 50%;
}
#features{  
    position: static;  
}
} */

.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: rgb(50, 50, 53);
    color: white;
    cursor: pointer;
    padding: 1px;
    width: 300px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}


/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #cef1f1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #cef1f1;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #cef1f1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    /* color: black; */
    transition: background 0.5s;
}


/* .btn:hover {
    background: #ff004f;
} */


/* ------------------------------blog------------------- */

.container1 {
    width: 100%;
    height: 15cm;
    background: #ffffff;
    position: relative;
}

.view-box {
    width: 900px;
    height: 400px;
    border-radius: 220px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#testimonials {
    display: flex;
    transition: 0.5s;
}

.user {
    width: 800px;
    text-align: center;
    padding: 20px 70px;
    box-sizing: border-box;
    background: rgb(92, 92, 95);
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
}

.space {
    margin: 0 70px;
}

.user img {
    width: 120px;
    border-radius: 50%;
    border: 5px solid #e8ecff;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.user p {
    font-size: 22px;
    color: #ffffff;
    line-height: 32px;
    margin: 60px 0 30px;
}

.user p::before {
    content: '\201C';
    font-size: 50px;
    height: 0;
    display: inline-block;
    vertical-align: -57;
    margin-right: 10px;
}

.user p::after {
    content: '\201D';
    font-size: 50px;
    height: 0;
    display: inline-block;
    vertical-align: -70;
    margin-left: 10px;
}

.user h5 {
    font-size: 26px;
    color: #212020;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.controls span {
    width: 15px;
    height: 15px;
    background:rgb(50, 50, 53);
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    width: 45px !important;
}

.subtitles2 {
    margin-bottom: -70px;
    margin-left: 2.5cm;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-top: 40px;
    text-align: center;
    height: 220px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .abcd{
    color: #5ca6fa;
  }
#aboutparagraph{
    color: white;
}